.navbar {

    float: right;
margin-right: 20px;
margin-top: 20px;
}

.navItem {
    padding: 4px;
    margin-right: 25px;
    color: white;
text-decoration: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.5s ease;
}

    .navItem:hover {
    color:  #515151;
    }

 #Chosen {
 color: #515151;

}

#Contact {
    color:coral;
    transition: 0.4s ease;
   }

   #Contact:hover {
    color:rgba(255, 127, 80, 0.548);
   
   }

   





   .tabbar {
    display: none;
      position: fixed;

      bottom: 0;
      width: 100%;
  background-color: #1F1F1F;
  padding-top: 20px;
  padding-bottom: 20px;
    }
    .tabItem{
    
    padding: 5px;
      color: white;
  text-decoration: none;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      cursor: pointer;
  
    }


    @media (max-width: 660px) {
      
      
        .tabbar {
       display: flex;
       justify-content: space-evenly;
        }
         
      .navbar {
        display: none;
      }
        
      }
      